@charset "UTF-8";

  body {
    margin: 0;
    padding: 10;
    background-color: #AFBEE3;
    font-family: 'Helvetica Neue';
}
 #divContainer1ID {
        width: 230px;
        height: 110px;
        border: 5px solid #AFBEE3;
        position:absolute; top:30px;left:3px;
    }
#divContainer1ID > label {
        position:absolute; top:-30px;left:70px;
    }
   textarea {
resize: none;
}

img.set2_button{
width: 50px;
height: 49px; 
position:absolute; top:20px; left:164px; 
}

img.kensaku2_button{
width: 50px;
height: 49px; 
position:absolute; top:100px; left:164px; 
}
.box{
  width: 247px;
  height: 307px;
  border-radius: 30px 30px 30px 30px;
  background: #fff;
  position:absolute; top:180px; left:65px;
}
img.td_button {
width: 64px;
height: 64px;
}
img.tag_button{
width: 50px;
height: 49px; 
position:absolute; top:150px; left:10px; 
}
img.photo_button{
width: 50px;
height: 49px; 
position:absolute; top:150px; left:90px; 
}
img.basho2_button{
width: 50px;
height: 49px; 
position:absolute; top:150px; left:170px; 
}
img.kensaku_button {
width: 50px;
height: 49px;
}
img.basho_button {
width: 50px;
height: 49px;
}
img.home_button {
width: 50px;
height: 49px;
}
img.set_button {
width: 50px;
height: 49px;
}
img.list_button {
width: 50px;
height: 49px;
}
p.img_center{
  text-align: center;
}

p.img_border{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width:350px;
  height:100px;
  position:absolute; top:400px;left:-50px; 
}
img.td_button:hover{
 	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;
 	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}
 /* pd画像をクリックした瞬間 */
img.td_button:active{
 	/* 要素を若干下に下げることで、押した感じを出す。*/
 	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;
 }
 img.kensaku_button:hover{
	opacity:0.9;
	cursor: pointer;
}
img.kensaku_button:active{
	position: relative;
	top: 3px;
 }
img.basho_button:hover{
	opacity:0.9;
	cursor: pointer;
}
img.basho_button:active{
	position: relative;
	top: 3px;
 }
 img.home_button:hover{
	opacity:0.9;
	cursor: pointer;
}
img.home_button:active{
	position: relative;
	top: 3px;
 }
 img.set_button:hover{
	opacity:0.9;
	cursor: pointer;
}
img.set_button:active{
	position: relative;
	top: 3px;
 }
 img.list_button:hover{
	opacity:0.9;
	cursor: pointer;
}
img.list_button:active{
	position: relative;
	top: 3px;
 }

  p.img_center2{
   text-align: center;
   position:absolute; top:320px;left:88px; 
}
 .button--large {
  position:  absolute; top:550px; left:90px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #771d1d;
  -webkit-box-shadow:none ;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  padding: 20px 20px;
  display: block;
  width: 30%; 
}
.button--large:active {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.button--large:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}


